<html>
<head>
    <title>Deletar Pessoa</title>
</head>
<body>
    <h1>Deletar Pessoa</h1>
    <a href="{% url 'pessoas_pessoa_list' %}">Ir para listagem de pessoas</a>
    <form method="post">
        {% csrf_token %}
        <p>Você tem certeza que quer deletar a pessoa {{ pessoa.nome }}</p>
        <button type="submit">Sim, tenho certeza</button>
    </form>
</body>
</html>